body, html {
    height: 85%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.image{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position:relative;
    opacity:0.70;
}
.parallax1{
    background-image: url("2.jpg");
}
.parallax2{
    background-image: url("6.jpg");
}
.parallax3{
    background-image: url("1.jpg");
}
.parallax4{
    background-image: url("4.jpg");
}

.header1 , .header4{
    color: #fff;
    background-color: #111;
    padding: 20px;
}
.header2{
    color: #fff;
}


.border1 , .border2 , .border3 , .border4{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 50px;
}

.sec1{
    text-align: center;
    padding: 100px 20px;
    font-size: 20px;
}
.sec2{
    text-align: center;
    padding: 100px 20px;
    font-size: 20px;
    background-color: #111;
    color: #fff;
    opacity: 0.70;
}
.sec3{
    text-align: center;
    padding: 100px 20px;
    font-size: 20px;
    background-color: #111;
    color: #fff;
    opacity: 0.90;
}